body {
  background-color: #deba9d;
}

.bg-dk-coffee {
  background-color: #6b1b00;
}

header {
  border-radius: 0 0 10px 10px;
}

.search-form {
  border-radius: 16px;
}

.search-input {
  border: none;
  border-radius: 12px 0 0 12px;
}

.search-btn {
  border-radius: 8px 12px 12px 8px;
}

.cafe-desc {
  background-color: rgba(111, 76, 91, 1);
  width: 90%;
  height: 200px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cafe-desc:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.cafe-img {
  /* height: 100%; */
  width: 40%;
}

hr {
  background-color: rgba(111, 76, 91, 0.7);
  height: 10px;
  width: 35%;
  border-top: 5px dotted #9e7777;
}

.cafe-info {
  flex-grow: 1;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin: 4px;
  padding: 2px;
  justify-content: start;
  align-items: center;
}

.name-price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cafe-name {
  color: #f5e8c7;
  justify-self: start;
}

.cafe-map-location:hover {
  color: #f5e8c7;
}

.cafe-display-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shadow-screen {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
}

.filter-btn {
  right: 10px;
  bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.filter-btn:hover {
  background-color: #6b1b00;
  color: #deba9d;
}

.filter-box {
  border-radius: 30px;
  height: 0;
  width: 0;
  visibility: hidden;
}

.filter-box hr {
  background-color: #6b1b00;
  border-color: #deba9d;
}

@media screen and (max-width: 700px) {
  .cafe-desc {
    flex-direction: column;
    width: 75%;
    height: 500px;
  }

  .cafe-img {
    width: 100%;
  }

  .cafe-display-board {
    grid-template-columns: 1fr;
  }
}

.bg-lightest {
  background-color: #f9fefb;
}

.bg-lighter {
  background-color: #deba9d;
}

.bg-darker {
  background-color: #9e7777;
}

.bg-darkest {
  background-color: #6f4c5b;
}

.clr-lightest {
  color: #f9fefb;
}

.clr-lighter {
  color: #deba9d;
}

.clr-darker {
  color: #9e7777;
}

.clr-darkest {
  color: #6f4c5b;
}

/* AE8B70 */
/* F9FEFB */
/* 6B1B00 */
